<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Consulta</title>
</head>
<body>

    <h2>Detalle de album</h2>
    
    <table>
        <thead>
            <td>Id:</td>
            <td>Album:</td>
            <td>Artista:</td>
            <td>Año:</td>
        </thead>
        <tbody>

            <tr>
                <td>{{ album.0 }}</td>
                <td>{{ album.1 }}</td>
                <td>{{ album.2 }}</td>
                <td>{{ album.3 }}</td>
                <td><a href="{{ url_for('actualizar', id=album.0) }}">Actualizar</a></td>
                <td><a href="{{ url_for('confirmarEliminacion', id=album.0) }}">Eliminar</a></td>
            </tr>

        </tbody>
    </table>
    <a href="/"> Abrir Vista Formulario </a>

</body>
</html>